/* debug */
.bg_pink {
  min-height: 100px;
  background-color: pink;
  border: 1px solid black;
}

.bg_col {
  min-height: 90px;
  background-color: lightcoral;
  border: 1px solid red;
}

.bg_nested {
  min-height: 80px;
  background-color: yellow;
  border: 1px solid blue;
}

/* mix */


/* typography */

/* HEADER */
/* header_top */

.header_top {

}

/* hero */
.hero {

}

/* MAIN */

/* customer */

.customer {

}
/* deploy */

.deploy {

}

.deploy_text {

}

/* design */

.design {

}

.carousel_design {
  width: 50%;
  margin: auto;
  background-color: lightblue;
  height: 300px;
}

/* features */

.features {

}

/* regions */

.regions {

}

/* development */

.development {

}

.carousel_development {
  width: 50%;
  margin: auto;
  background-color: lightblue;
  height: 300px;
}

/* start */

.start {
  
}
/* media queries */
