/* debug */
.bg_pink {
  min-height: 100px;
  background-color: pink;
  border: 1px solid black;
}

.bg_col {
  min-height: 90px;
  background-color: lightcoral;
  border: 1px solid red;
}

.bg_nested {
  min-height: 80px;
  background-color: yellow;
  border: 1px solid blue;
}

/* mix */

.m_top_75 {
  margin-top: 75px;
}

.m_bottom_75 {
  margin-bottom: 75px;
}

.m_bottom_40 {
  margin-bottom: 40px;
}
.p_top_40 {
  padding-top: 40px;
}

.p_bottom_40 {
  padding-bottom: 40px;
}

.p_top_20 {
  padding-top: 20px;
}

.p_bottom_20 {
  padding-bottom: 20px;
}

.p_right_30 {
  padding-right: 30px;
}

/* typography */

body {
  font-family: 'Roboto', sans-serif;
}

.header_top {
  font-size: 14px;
}

.hero_text h1 {
  font-size: 45px;
}

.hero_text p {
  font-size: 20px;
}

div.hero .form_hero h3 {
  font-size: 30px;
  color:#061B4E;
  font-weight: bold;;
}

 div.hero .form_hero > a {
   font-size: 30px;
 }

.customer h4 {
  text-transform: uppercase;
}

.customer p a {
  display: block;
  font-size: 18px;
}
/* testo paragrafi  */
 .deploy_text p, .deploy li, .design_text p, .carousel_development_text p:first-of-type {
   font-size: 23px;
 }

 .deploy_nested p, .features p {
   font-size: 16px;
 }

/* HEADER */
/* header_top */

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background-color: #fff;
  text-transform: capitalize;
}

.header_top img {
  width: 100%;
  height: auto;
  max-width: 180px;
}

.header_top a {
  text-decoration: none;
  color: #031B4E;
  line-height: 75px;
}

.header_top ul button {
  color: #0265FF;
  border-color: #0265FF;
}
/* color blue */
.header_top button span, div.hero .form_hero > a, .form-group p a, .customer a, .features a {
  color: #0265FF;
}

/* hero */

.hero {
  position: relative;
  margin-top: 75px;
  background-color: #0265FF;
  min-height: 500px;
  background-image: url(../img/bg_home.jpg);
}

.hero_text{
  color: #fff;
}

.form_hero {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.btn_blue {
  background-color: #0265FF;
  color: #fff;
}

.form-group img {
  width: 20px;
  height: 20px;
  padding: 0;
}

.logo_google {
  padding-left: 0;
}

.form-group a {
  height: 34px;
}
/* MAIN */

/* customer */

.customer {
  background-color: #F2F5F9;
}

.customers {
  max-width: 1170px;
  margin: auto;
  font-size: 0;
}
.customer img{
  max-width: 100%;
}

.customers li {
  width: calc(50% - 10px)
}

/* deploy */

.deploy {
  background-color: #fff;
}
/* !!colore grigetto !!*/
.deploy li, .deploy p, .design_text p, .features p, .carousel_development_text p:first-of-type {
  color: #949FB4;
}
/* colore grigetto */

.deploy .container .col-xs-12:first-of-type {
  border-left: 1px solid #949FB4;
  margin-left: 20px;
  margin-right: -20px;
}

.deploy ul li {
  padding-bottom: 20px;
}

.deploy_nested {
  padding-right: 40px;
}

/* design */

.design {
  background-color: #F2F5F9;
}

.carousel_design {
  max-width: 650px;
  margin: auto;
}

.carousel_design img {
  max-width: 85%;
  height: auto;
  margin: 0 3%
}

.carousel_design i {
  display: inline-block;
  font-size: 50px;
  vertical-align: middle;
}

.carousel_text li {
  padding: 0;
}

.carousel_text i {
  color: #0265FF;
  font-size: 12px;
}

/* features */

.features {
  background-color: #fff;
}

/* regions */

.regions {
  background: linear-gradient(176deg, rgba(2,70,196,1) 0%, rgba(0,53,171,1) 100%);
  color: #fff;
}

.row_regions {
  line-height: 37px;
  min-height: 37px;
  border-bottom: 1px solid #fff;
}

.bottom {
  border-bottom: none;
}

.row_regions * {
  margin: 0;
}

.row_regions a {
  color: #01C1CD;
}
.regions .col-xs-7 p {
  color: #949FB4;
}

/* development */

.development {
background-color: #F2F5F9;
position: relative;
top: -20px;
}

.carousel_development {
  width: 50%;
  margin: auto;
  background-color: lightblue;
  height: 300px;
}

.carousel_development_text {
  display: inline-block;
  width: 90%;
  background-color: #fff;
  vertical-align: middle;
  padding: 50px 0;
}

/* start */

.start {
  background: linear-gradient(176deg, rgba(2,70,196,1) 0%, rgba(0,53,171,1) 100%);
  color: #fff;
  padding: 60px 0;
  position: relative;
  top: -20px;
}

.start a {
  color: #0265FF;
  font-size: 18px;
}

/* FOOTER */

footer {
  background-color: #010F28;
  position: relative;
  top: -20px;
}

footer, footer a {
  color: #949FB4;
}

footer ul {
  list-style: none;
  line-height: 30px;
  padding-left: 0;
}

footer h4 {
  color: #fff;
}

footer ul i {
  font-size: 25px;
}


/* media queries */

@media screen and (min-width: 769px) {
  .customers li {
  width: calc((100% / 6) - 10px);
}

@media screen and (min-width: 992px) {
  .hero_text h1 {
    font-size: 60px;
  }

  .hero_text p {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header_top {
  font-size: 16px;
  }
}
